<div class="row">

  <div class="image">
     <a class="image" href="#">
      <%= image_tag "girl.jpg", class: "girl_icon" %>
    </a>
  </div>

  <div class="box-text">
    <h1 class="header">Report a Neighborhood Problem</h1>
  <p class="text1">Wherever you are</p>
  </div>

</div>


<div id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
