.girl_icon{
position: absolute;
left: 132px;
top: 0px;
width: 20%;
height: 45%;
max-width: 50%
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.header{
position: absolute;
left: 509px;
top: 101px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 80px;
}

.text1{
position: absolute;
left: 520px;
top: 210px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 21px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.row {
display: flex;
  flex-wrap: wrap;
}


@media screen and (max-width: 200px) {
  .row {
    flex-direction: column;
  }
}
