<div class="fixed-bottom footer">

  <div class="footer-links text-center">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright text-center">
    <strong>Streetly</strong> was made with <i class="fas fa-heart"></i>
  </div>
</div>
