<div class="row">

  <div class="image">
     <a class="image" href="#">
      <%= image_tag "girl.jpg", class: "girl_icon" %>
    </a>
  </div>

  <div class="box-text">
  <h1 class="header">Where are you ?</h1>
  <p class="text1">Report a problem. Wherever you are.</p>
  </div>

</div>
