<!-- <div class="row">

  <div class="image">
     <a class="image" href="#">
      < %= image_tag "girl.jpg", class: "girl_icon" %>
    </a>
  </div>

  <div class="box-text">
    <h1 class="header">Report a Neighborhood Problem</h1>
  <p class="text1">Wherever you are</p>
  </div>

</div> -->
